<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Information Technology</h1>
            <span>Tampere University of Applied Sciences</span>
            <span><address>Tampere, Finland</address><time>2017 to 2019</time></span>
        </header>
        <p>
            <em>Thesis: IoT-Smart Grid Nexus</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Computer Science</h1>
            <span>University of the People</span>
            <span><address>Califonia, USA</address><time>ongoing</time></span>
        </header>
        <p>
            <em>Worked on mobile apps,data mining & machine learning,AI,databases,data structure,analysis of algorithms</em>
        </p>
    </article>
</section>
