<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Demola Tampere</h1>
            <span><address>TAMK, Finland</address><time>2018</time></span>
        </header>
        <p>
            Development of network speed measurement device
        </p>
    </article>
    <article>
        <header>
            <h1>Research Assistant Asistance</h1>
            <span><address>Lappeenranta University of Technology, Finland</address><time>2015</time></span>
        </header>
        <p>
            Harnessing wind energy in subsaharan Africa
        </p>
    </article>
</section>